*{
    margin: 0px;
    padding: 0px;
    font-size: 15px;
}

body{
    margin-top: 60px;
    background-color: rgb(34, 33, 33);
}



.mainContainer{

    margin: auto;
    width: 280px;
    height: 390px;
    border-style: ridge;
    padding-top:60px;
    padding-bottom:10px ;
    display: grid;
    border-radius: 20px;

    grid-template-areas: "1 2 3 4"
                         "5 6 7 8"
                         "9 10 11 12"
                         "13 14 15 16"
                         "17 18 19 20";

    justify-content: space-around;
    align-items: flex-end;
    /* background-color: black; */

}

input{
margin-top: -100px;
margin-bottom: 35;
margin-right: -1500px;
margin-left: -6.9px; 
max-width: 275px;
font-size: 40px;
height: 130px;
border-radius: 20px;
background-color:rgb(34, 33, 33) ;
border:none;
-webkit-appearance: none;
-moz-appearance: none;
}



.iten1{
    grid-area: 1;
}
.iten2{
    grid-area: 2;
}
.iten3{
    grid-area: 3;
}
.iten4{
    grid-area: 4;
}
.iten5{
    grid-area: 5;
}
.iten6{
    grid-area: 6;
}
.iten7{
    grid-area: 7;
}
.iten8{
    grid-area: 8;
}
.iten9{
    grid-area: 9;
}
.iten10{
    grid-area: 10;
}
.iten11{
    grid-area: 11;
}
.iten12{
    grid-area: 12;
}
.iten13{
    grid-area: 13;
}
.iten14{
    grid-area: 14;
}
.iten15{
    grid-area: 15;
}
.iten16{
    grid-area: 16;
}
.iten17{
    grid-area: 17;
}
.iten18{
    grid-area: 18;
}
.iten19{
    grid-area: 19;
}
.iten20{
    grid-area: 20;
    
}



button{
    padding: 18px;
    margin: none;
    border-radius: 10px;
    background-image: linear-gradient( 0deg,
    #4a0063,
    #1c0031)
}